* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --black: #04080f;
  --black2: #111118;
  --white: #fcfcfc;
  --white2: #fcf7f8;
}

body,html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.navbar {
  background-color: var(--black);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
}

h1 {
  color: var(--white);
  text-align: center; /* Centraliza todo o texto */
}

.title {
  font-size: 48px;
  transition: 0.3s;
}

.title:hover {
  font-size: 52px;
}

.button {
  margin-top: 10px;
  padding: 18px 36px;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--white2);
  color: var(--black2);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.logo {
  font-size: 24px;
}

.nav-links-desktop {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links-desktop li {
  padding: 0 15px;
}

.nav-links-desktop a,
.nav-links-mobile a {
  color: var(--white);
  text-decoration: none;
  transition: 0.3s;
}

.nav-links-desktop a:hover {
  color: var(--white2);
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}

.nav-links-mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.2rem;
  width: 80%;
  list-style: none;
  padding: 0;
}

.nav-links-mobile li {
  border-bottom: 1px solid #787272;
  padding-bottom: 1.2rem;
}

.more, .close {
  font-size: 24px;
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: none;
}

.close {
  margin-top: 20px;
  margin-right: 20px;
  display: block;
  align-self: end;
}

.flex {
  display: flex;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .title {
    font-size: 42px; /* Tamanho da fonte do h1 em telas menores */
    transition: font-size 0.3s ease; /* Suaviza a transição ao mudar o tamanho da fonte */
  }
  
  .title:hover {
    font-size: 46px; /* Tamanho da fonte ao passar o mouse no h1 */
  }

  .nav-links-desktop {
    display: none;
  }

  .more {
    display: block;
  }
}